.logo{
    margin-left: 90%;
    margin-top: 1%;
    height: 20%;
    position: fixed;
}

.header{
 position: fixed;
 margin-left: 14%;
}
h2{
    margin-left: 38%;
    margin-top: 8%;
}

h3{
    text-align: center;
}

.gancxadebebi{
  position: fixed;
  margin-top: 17%;
  margin-left: 10%;
  margin-right: 10%;
}

.gancxadeba_n1{
    font-size: 150%;
}

.gancxadeba_n2{
    margin-top: 10%;
}

.link {
    position: fixed;
    margin-top: 42%;
    margin-right: 10%;
    margin-left: 3%;
    
    
}

.link_1{
    height: 10%;
    position: fixed;
    margin-right: 10%;
    border: 5px solid #49b627;
    border-radius: 20%;
    padding: 0.3%;
    padding-left: 0.6%;
    padding-right: 0.6%;
}

.link_2{
    height:11%;
    position: fixed;
    margin-left: 8%;
    border: 5px solid #49b627;
    border-radius: 20%;
   
}

